<%= form_with(model: brand) do |form| %>
  <div class="container">
    <form>
          <div class="mb-3">
            <%= form.label :brand_name, style: "display: block" , class:"form-label" %>
              <%= form.text_field :brand_name, class:"form-control" %>
          </div>
          <br>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary"><% form.submit %>Submit</button>
          </div>
    </form>
  </div>
<% end %>
