
<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="container">
<br>
<%= render "form" , product: @product %><hr>
<%= button_to "Delete this Product" , @product, method: :delete ,class: "btn btn-danger" %>

</div>
