<%= render "shared/navbar" %>
<%= render "shared/sidebar" %>
<br>
<div class="container">
<h2>Add new Product</h2>
<br>
</div>
<div class="container"></div>

<%= render "form", product: @product %>

</div>
